.chatroomsIndex {
  min-height: 100%;
  display: flex;

  .chatroomsIndex__sidebar {
    flex: 0;
    flex-basis: 25%;
    border: 1px solid $border_grey;
  }

  .chatroomsIndex__messages {
    min-width: 70%;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;

    .chatroomsIndex__toolbar {
      padding: 10px;
      background-color: $light_grey;
    }

    .chatroomsIndex__messagesBody {
      flex-grow: 1;
      overflow: auto;
      height: 58vh;
      display: flex;
      flex-direction: column;

      .message {
        padding: 20px 0 20px 10px;
        border: 0;
        border-top: 1px solid #eeeeee;
      }
    }

    .chatroomsIndex__messagesFooter {
      background-color: $light_grey;
      padding-bottom: 0px;
    }
  }
}
