.navBar {
  background-color: $light_blue;

  a.navbar-brand {
    color: $light_grey;

    &:hover, &:focus {
      color: $powder_blue;
    }
  }

  .navBar__dropdown {
    a.dropdown-toggle {
      color: $light_grey;

      &:hover, &:focus {
        color: $powder_blue;
      }
    }
  }

  .open > a.dropdown-toggle,
  .open > a.dropdown-toggle:focus {
    background-color: $light_blue;
  }
}
